################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Library_IS/CopilotIndices/17.14.1601.40145/CodeChunks.db
/.vs/Library_IS/CopilotIndices/17.14.1601.40145
/.vs/Library_IS/FileContentIndex
