################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Library_IS/.vs/
/Library_IS/bin/
/Library_IS/obj/
/packages/
/.git/
