################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# /.vs/Library_IS/CopilotIndices/17.14.1601.40145/CodeChunks.db
/.vs/
/Library_IS/.vs/
/Library_IS/bin/
/Library_IS/obj/
/packages/
/.git/
